<script language="javascript">
    tt_cancel_destination = '/';
    tt_cancel_show = '/';

    function set_ajaxURL_for_suggestions(url, filter_value) {
        $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url + filter_value + "&search_string=");
        listSuggestions(tstCurrentPage);
    }
    function getYear()
    {
        return (__$("year_of_birth").value.trim() == '<%=Vocabulary.search("Unknown") %>' ? __$("estimated_year_of_birth").value.trim() : __$("year_of_birth").value.trim());
    }

    function getMonth()
    {

        return (__$("month_of_birth").value.trim() == "Unknown" ? __$("estimated_month_of_birth").value.trim() : __$("month_of_birth").value.trim())
    }

    function validateDay(){
    date = new Date
    currYear = date.getFullYear();
    currDay = date.getDate();
    currMonth = date.getMonth() + 1;
    selected_month = parseInt(document.getElementsByName('month_of_birth')[0].value)
    selectYear = parseInt(document.getElementsByName('year_of_birth')[0].value);
    
    if (selectYear == currYear) {
      if (selected_month == currMonth){
        console.log("Am there")
        $('touchscreenInput'+tstCurrentPage).setAttribute('absoluteMax',currDay);
        console.log('Absolute Max=' + $('touchscreenInput'+tstCurrentPage).getAttribute('absoluteMax'));
      }
     }
  }
</script>

<% form_tag (:action => :save_person) do %>



    <%= text_field_tag "middle_name", nil, {:helpText => Vocabulary.search("Middle Name"),
                                            :optional => :true} %>

    <%= select_tag "year_of_birth",
                   options_for_select(((Date.today.year - 120)..(Date.today.year)).collect{|y| y}.reverse +
                                              [Vocabulary.search("Unknown")]), :helpText => Vocabulary.search("Year of birth"),
                   :field_type => "number",:tt_onLoad => "__$('year_of_birth').value == '#{Vocabulary.search("Unknown")}'", :tt_pageStyleClass => "NumbersOnlyWithUnknown" %>

    <%= select_tag "estimated_year_of_birth",options_for_select(((Date.today.year - 120)..(Date.today.year)).collect{|y| y}.reverse ),
                   :helpText => Vocabulary.search("Estimated Year of birth"),
                   :condition => "__$('year_of_birth').value.trim() == '#{Vocabulary.search("Unknown")}'",
                   :field_type => "number", :tt_pageStyleClass => "NumbersOnly" %>

    <% months = [
            [Vocabulary.search("January"),1],
            [Vocabulary.search("February"),2],
            [Vocabulary.search("March"),3],
            [Vocabulary.search("April"),4],
            [Vocabulary.search("May"),5],
            [Vocabulary.search("June"),6],
            [Vocabulary.search("July"),7],
            [Vocabulary.search("August"),8],
            [Vocabulary.search("September"),9],
            [Vocabulary.search("October"),10],
            [Vocabulary.search("November"),11],
            [Vocabulary.search("December"),12],
            [Vocabulary.search("Unknown"),"Unknown"]
    ]
    %>

    <%= select_tag "month_of_birth", options_for_select(months), :helpText => Vocabulary.search("Month of birth"),
                   :tt_pageStyleClass => "NoKeyboard",:tt_onLoad => "__$('month_of_birth').value == ''" %>

    <%= select_tag "estimated_month_of_birth", options_for_select((months - [[Vocabulary.search("Unknown"),"Unknown"]])), :helpText => Vocabulary.search("Estimated Month of birth"),
                   :condition => "__$('month_of_birth').value.trim() == 'Unknown'",
                   :tt_pageStyleClass => "NoKeyboard" %>

    <%= text_field_tag "day_of_birth", nil, {:helpText => Vocabulary.search("Day of birth"),
                                              :field_type => 'number',
                                             :tt_onLoad => "validateDay(); __$('day_of_birth').value == '',getDayOfMonthPicker(getYear(),getMonth())"
                                             } %>

    <%= text_field_tag "estimated_day_of_birth", nil, {:helpText => Vocabulary.search("Estimated Day of birth"),
                                                       :tt_onLoad => "getDayOfMonthPicker(getYear(),getMonth())",
                                                       :tt_pageStyleClass => "NumbersOnly",
                                                       :condition => "__$('day_of_birth').value.trim() == '#{Vocabulary.search("Unknown")}'"} %>


    <%= select_tag "person_attributes[place of birth type]", options_for_select([["#{Vocabulary.search("Hospital")}", "Hospital"],
                   ["#{Vocabulary.search("Home")}", "Home"]]), {:helpText => Vocabulary.search("Place of Birth"),
                                                                :id => 'place_of_birth_type',
                                                                :tt_onLoad => "$('nextButton').style.display = 'block';"} %>

    <%= text_field_tag "facility of birth", nil, {
            :id => 'placeofbirth',
            :field_type => 'alpha',
            :condition => "__$('place_of_birth_type').value.trim() == 'Hospital'",
            :helpText => Vocabulary.search('Which facility were you born in?'),
            :tt_requireNextClick => true, :ajaxURL => '',
            :allowFreeText => true,
            :tt_onLoad => "set_ajaxURL_for_suggestions('/location/facilities/Facility?filter_value=' ,document.getElementById('placeofbirth').value);" } %>


    <%= text_field_tag "village of birth", nil, {
            :id => 'birthVillage',
            :field_type => 'alpha',
            :condition => "__$('place_of_birth_type').value.trim() == 'Home'",
            :helpText => Vocabulary.search('Which village were you born in?'),
            :tt_requireNextClick => true, :ajaxURL => '',
            :allowFreeText => true,
            :tt_onLoad => "set_ajaxURL_for_suggestions('/location/birth_village/birthVillage?filter_value=' ,document.getElementById('birthVillage').value);" } %>

    <p><label >Current Region</label><br/></p>
    <%= text_field "region" , nil, {:helpText => Vocabulary.search('Current Region'),:id => "region",
                                    :tt_requireNextClick => false, :ajaxURL => '/location/region/Region?field=role&value=',
                                    :tt_onLoad => "$('nextButton').style.display = 'none';"}%></p>


    <%= text_field_tag "district", nil, {
            :id => 'district',
            :field_type => 'alpha',
            :helpText => Vocabulary.search('Current District'),
            :tt_requireNextClick => false, :ajaxURL => '',
            :allowFreeText => false,
            :tt_onLoad => "set_ajaxURL_for_suggestions('/location/district/District?filter_value=' ,document.getElementById('region').value);" } %>

    <%= text_field_tag "ta", nil, {
            :id => 'ta',
            :field_type => 'alpha',
            :helpText => Vocabulary.search('Current Traditional Authority'),
            :tt_requireNextClick => false, :ajaxURL => '',
            :allowFreeText => false,
            :tt_onLoad => "set_ajaxURL_for_suggestions('/location/traditional_authority/ta?filter_value=' ,document.getElementById('district').value);" } %>

    <%= text_field_tag "village", nil, {
            :id => 'village',
            :field_type => 'alpha',
            :helpText => Vocabulary.search('Current Village'),
            :tt_requireNextClick => true, :ajaxURL => '',
            :allowFreeText => false,
            :tt_onLoad => "$('nextButton').style.display = 'block';set_ajaxURL_for_suggestions('/location/village/Village?filter_value=' ,document.getElementById('ta').value);" } %>

    <%= text_area_tag "remarks", nil,
                      {:id => 'remarks',
                       :field_type => 'alpha',
                       :optional => true,
                       :helpText => Vocabulary.search('Enter remarks')} %>

    <%= hidden_field_tag "first_name", params[:first_name] %>
    <%= hidden_field_tag "last_name", params[:last_name] %>
    <%= hidden_field_tag "gender", params[:gender] %>
    <%= hidden_field_tag :creator, session[:user_id] %>
<% end %>
