<script type="text/javascript">
    <!--
    function send_to(data, title){
        window.location = "outcomes_drill_down?data=" + data + "&title=" +title;
    }
    //-->
</script>
<style type="text/css">
    tr.heading{
        height: 45px;
        font-size: 25px;
        font-weight: bold;
    }
    tr.indicator{
        height: 45px;
        font-size: 23px;
        background-color:#87ceeb;
    }
    tr.indicators{
        height: 45px;
        font-size: 23px;
        background-color:#ffffff;
    }
    td{

    }
    td.count{
        text-align: center;
        cursor: pointer;
    }
</style>

<div style="width: 100%;height: 130px; border:solid black; border-width: 0px 0px 1px 0px;">
  <table style="width: 100%">
    <tr>
      <td style="width: 130px;text-align: center" rowspan="4">
        <img src="/images/baobab.png" style="height: 100px;width:100px;">
      </td>
      <td colspan="3" style="vertical-align: top; font-size: 25px; font-weight: bold;">
        <%= Vocabulary.search('Monthly Outcome Report') %> <%= @duration %></td>

    </tr>
    <tr>
      <td style="font-size: 18px; font-weight: bold;width: 250px;">
        <%= Vocabulary.search('Traditional Authority') %>
      </td>
      <td style="width:5px;">:</td><td><%= @ta %></td>
    </tr>
    <tr>
      <td style="font-size: 18px; font-weight: bold;">
        <%= Vocabulary.search('Group Village Headman') %>
      </td>
      <td>:</td><td><%= @gvh%></td>
    </tr>

  </table>
</div>

<div style="height: 530px;overflow: auto;">
  <table style="width: 100%">
    <tr class="heading">
      <td colspan="3"> <%= Vocabulary.search('Population Outcome Statistics') %></td>
    </tr>
    <tr style="font-size: 23px;font-weight:bold; background-color: silver;">
      <td style="width: 30%;"><%= Vocabulary.search('Village') %></td>
      <td style="text-align: center"><%= Vocabulary.search('Alive') %></td>
      <td style="text-align: center"><%= Vocabulary.search('Dead') %></td>
      <td style="text-align: center"><%= Vocabulary.search('Transferred') %></td>
      <td style="text-align: center"><%= Vocabulary.search('Total Population') %></td>
    </tr>
    <% @outcomes.each do |key, values|  %>
    <tr class="<%= cycle('indicator', 'indicators') %>" >
      <td><%= key %></td>
      <td onclick="send_to(<%=@ids[key]['Alive'].to_json %>, '<%= Vocabulary.search('Registered People Who Are Alive') %>')" class="count"><%= values['Alive']%></td>
      <td onclick="send_to(<%=@ids[key]['Dead'].to_json %>, '<%= Vocabulary.search('Registered People Who Died') %>')"class="count"><%= values['Dead']%></td>
      <td onclick="send_to(<%=@ids[key]['Transferred'].to_json %>, '<%= Vocabulary.search('Registered People Who Transferred') %>')" class="count"><%= values['Transferred']%></td>
      <td onclick="send_to(<%=@ids[key]['Total'].to_json %>, '<%= Vocabulary.search('All Registered People') %>')" class="count"><%= values['Total']%></td>
    </tr>
    <% end %>
  </table>
</div>