<style type="text/css">
    tr.heading{
        background-color: silver;
        height: 45px;
        font-size: 25px;
    }
    tr{
        height: 40px;
        font-size: 22px;
    }
    td{
        padding-left: 20px;
    }
    td.count{
        text-align: center;
    }
</style>

<div style="width: 100%; border:solid black; border-width: 0px 0px 1px 0px;">
  <table style="width: 100%">
    <tr>
      <td style="width: 130px;text-align: center" rowspan="4">
        <img src="/images/baobab.png" style="height: 100px;width:100px;">
      </td>
      <td colspan="3" style="vertical-align: top; font-size: 25px; font-weight: bold;">Traditional Authority Summary</td>

    </tr>
    <tr>
      <td style="font-size: 18px; font-weight: bold;width: 250px;">Traditional Authority</td><td style="width:5px;">:</td><td><%= @ta %></td>
    </tr>
  </table>

</div>
<div style=" height: 150px; border:solid black; border-width: 0px 0px 1px 0px;" >
  <table style="width: 100%">
    <tr class="heading" >
      <td colspan="2" style="text-align: center">General Population Statistics</td>
    </tr>
    <tr>
      <td>Total Population</td><td class="count"><%= @cumulative['count'] %></td>
    </tr>
    <tr>
      <td>Median Age</td><td class="count"><%= @females rescue 0 %></td>
    </tr>
  </table>
</div>

<div style=" height: 370px; overflow: auto;" >

  <table style="width: 100%">
    <tr class="heading" >
      <td colspan="2" style="text-align: center">Total Population by Gender</td>
    </tr>
    <tr>
      <td>Females</td><td class="count"><%= @cumulative['gender_count']['females'] %></td>
    </tr>
    <tr>
      <td>Males</td><td class="count"><%= @cumulative['gender_count']['males'] %></td>
    </tr>
    <tr class="heading" >
      <td colspan="2" style="text-align: center">Total Population By Age</td>
    </tr>
    <tr>
      <td>Number of Children( < 12 Years)</td><td class="count"><%= @cumulative['ages']['children'] %></td>
    </tr>
    <tr>
      <td>Youth Population (12-21 Years)</td><td class="count"><%= @cumulative['ages']['youth'] %></td>
    </tr>
    <tr>
      <td>Working Population (21-59 Years)</td><td class="count"><%= @cumulative['ages']['adults'] %></td>
    </tr>
    <tr>
      <td>Older Population (>= 60 years)</td><td class="count"><%= @cumulative['ages']['grannies'] %></td>
    </tr>
    <tr class="heading" >
      <td colspan="2" style="text-align: center">Total Population By Outcome</td>
    </tr>
    <tr>
      <td>Alive</td><td class="count"><%= @cumulative['outcomes']['Alive'] %></td>
    </tr>
    <tr>
      <td>Transferred Out</td><td class="count"><%= @cumulative['outcomes']['Transferred'] %></td>
    </tr>
    <tr>
      <td>Dead</td><td class="count"><%= @cumulative['outcomes']['Dead'] %></td>
    </tr>
  </table>


</div>
