<style type="text/css">
    tr.heading{
        height: 45px;
        font-size: 25px;
        font-weight: bold;
    }
    tr.indicator{
        height: 45px;
        font-size: 23px;
        background-color:#87ceeb;
    }
    tr.indicators{
        height: 45px;
        font-size: 23px;
        background-color:silver;
    }
    td{
        padding-left: 20px;
    }
    td.count{
        text-align: center;
    }
</style>

<div style="width: 100%;height: 130px; border:solid black; border-width: 0px 0px 1px 0px;">
  <table style="width: 100%">
    <tr>
      <td style="width: 130px;text-align: center" rowspan="4">
        <img src="/images/baobab.png" style="height: 100px;width:100px;">
      </td>
      <td colspan="3" style="vertical-align: top; font-size: 25px; font-weight: bold;">Monthly Outcome Report For <%= @duration %></td>

    </tr>
    <tr>
      <td style="font-size: 18px; font-weight: bold;width: 250px;">Traditional Authority</td><td style="width:5px;">:</td><td><%= @ta %></td>
    </tr>
    <% if @mode == "gvh" || @mode == "vh" %>
        <tr>
          <td style="font-size: 18px; font-weight: bold;">Group Village Headman</td><td>:</td><td><%= @gvh%></td>
        </tr>
        <% if @mode == "vh" %>
            <tr>
              <td style="font-size: 18px; font-weight: bold;">Village Headman</td><td>:</td><td><%= @village%></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>

<div>
  <table style="width: 100%">
    <tr class="heading"><td colspan="3"> Population Outcome Statistics</td></tr>
    <tr style="font-size: 23px;font-weight:bold;">
        <td style="width: 50%;">&nbsp</td><td style="text-align: center">Month Total</td><td style="text-align: center">Cumulative Total</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr class="indicator"><td>Total Population</td><td style="text-align: center"><%= @month_summary['count'] %></td>
      <td style="text-align: center"><%= @cumulative_summary['count'] %></td></tr>
    <tr class="indicators"><td>Alive</td><td style="text-align: center"><%= @month_summary['outcomes']['Alive'] %></td>
      <td style="text-align: center"><%= @cumulative_summary['outcomes']['Alive'] %></td></tr>
    <tr class="indicator"><td>Dead</td><td style="text-align: center"><%= @month_summary['outcomes']['Dead'] %></td>
      <td style="text-align: center"><%= @cumulative_summary['outcomes']['Dead'] %></td></tr>
    <tr class="indicators"><td>Transferred Out</td><td style="text-align: center"><%= @month_summary['outcomes']['Transferred'] %></td>
      <td style="text-align: center"><%= @cumulative_summary['outcomes']['Transferred'] %></td></tr>

  </table>
</div>