<script type="text/javascript">
    <!--
    function send_to(data, title){
        window.location = "outcomes_drill_down?data=" + data + "&title=" +title;
    }
    //-->
</script>

<style type="text/css">
    tr.heading{
        height: 45px;
        font-size: 25px;
        font-weight: bold;
    }
    tr.indicator{
        height: 45px;
        font-size: 23px;
        background-color:#87ceeb;
    }
    tr.indicators{
        height: 45px;
        font-size: 23px;
        background-color:silver;
    }
    td{
        padding-left: 20px;
    }
    td.count{
        text-align: center;
        cursor: pointer;
    }
</style>

<div style="width: 100%;height: 130px; border:solid black; border-width: 0px 0px 1px 0px;">
  <table style="width: 100%">
    <tr>
      <td style="width: 130px;text-align: center" rowspan="4">
        <img src="/images/baobab.png" style="height: 100px;width:100px;">
      </td>
      <td colspan="3" style="vertical-align: top; font-size: 25px; font-weight: bold;">
        <%= Vocabulary.search('Monthly Outcome Report')%>  <%= @duration %></td>

    </tr>
    <tr>
      <td style="font-size: 18px; font-weight: bold;width: 250px;"><%= Vocabulary.search('Traditional Authority') %></td>
      <td style="width:5px;">:</td><td><%= @ta %></td>
    </tr>
    <% if @mode == "gvh" || @mode == "vh" %>
        <tr>
          <td style="font-size: 18px; font-weight: bold;"><%= Vocabulary.search('Group Village Headman') %></td>
          <td>:</td><td><%= @gvh%></td>
        </tr>
        <% if @mode == "vh" %>
            <tr>
              <td style="font-size: 18px; font-weight: bold;"><%= Vocabulary.search('Village Headman') %></td>
              <td>:</td><td><%= @village%></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>

<div>
  <table style="width: 100%">
    <tr class="heading"><td colspan="3"> <%= Vocabulary.search('Population Outcome Statistics') %></td></tr>
    <tr style="font-size: 23px;font-weight:bold;">
      <td style="width: 50%;">&nbsp</td><td style="text-align: center"><%= Vocabulary.search('Month Total') %></td>
      <td style="text-align: center"><%= Vocabulary.search('Cumulative') %></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr class="indicator"><td><%= Vocabulary.search('Total Population') %></td>
      <td class="count"><%= @month_summary['count'] %></td>
      <td class="count"><%= @cumulative_summary['count'] %></td>
    </tr>
    <tr class="indicators">
      <td><%= Vocabulary.search('People Alive') %></td>
      <td class="count" onclick="send_to(<%= @month_summary['outcomes_id']['Alive'].to_json %>,'<%=Vocabulary.search('Registered People Alive')%>')"><%= @month_summary['outcomes']['Alive'] %></td>
      <td class="count" onclick="send_to(<%= @cumulative_summary['outcomes_id']['Alive'].to_json %>,'<%=Vocabulary.search('Registered People Alive') %>')">
        <%= @cumulative_summary['outcomes']['Alive'] %>
      </td>
    </tr>
    <tr class="indicator">
      <td><%= Vocabulary.search('Dead') %></td>
      <td class="count" onclick="send_to(<%= @month_summary['outcomes_id']['Dead'].to_json %>,'<%= Vocabulary.search('People Who Died This Month') %>')">
        <%= @month_summary['outcomes']['Dead'] %></td>
      <td class="count" onclick="send_to(<%= @cumulative_summary['outcomes_id']['Dead'].to_json %>,'<%= Vocabulary.search('People Who Died') %>')">
        <%= @cumulative_summary['outcomes']['Dead'] %>
      </td>
    </tr>
    <tr class="indicators">
      <td><%= Vocabulary.search('Transferred Out') %></td>
      <td class="count" onclick='send_to(<%= @month_summary['outcomes_id']['Transferred'].to_json %>,"<%= Vocabulary.search('People Who Transferred Out This Month')%>")'>
        <%= @month_summary['outcomes']['Transferred'] %></td>
      <td class="count" onclick="send_to(<%= @cumulative_summary['outcomes_id']['Transferred'].to_json %>,'<%= Vocabulary.search('People Who Transferred Out')%>')">
        <%= @cumulative_summary['outcomes']['Transferred'] %>
      </td>
    </tr>

  </table>
</div>