<script type="text/javascript">
    <!--
    function send_to(data, title, type){
        if (type == 'age')
        {
            window.location = "age_drill_down?data=" + data + "&title=" +title;
        }
        else if (type == 'gender')
        {
            window.location = "gender_drill_down?data=" + data + "&title=" +title;
        }
        else
        {
            window.location = "outcome_drill_down?data=" + data + "&title=" +title;
        }

    }
    //-->
</script>
<style type="text/css">
    tr.heading{
        height: 45px;
        font-size: 25px;
        font-weight: bold;
    }
    tr.indicator{
        height: 45px;
        font-size: 23px;
        background-color:#87ceeb;
    }
    tr.indicators{
        height: 45px;
        font-size: 23px;
        background-color:silver;
    }
    td{
        padding-left: 20px;
    }
    td.count{
        text-align: center;
        cursor: pointer;
    }
</style>

<div style="width: 100%;height: 130px; border:solid black; border-width: 0px 0px 1px 0px;">
  <table style="width: 100%">
    <tr>
      <td style="width: 130px;text-align: center" rowspan="4">
        <img src="/images/baobab.png" style="height: 100px;width:100px;">
      </td>
      <td colspan="3" style="vertical-align: top; font-size: 25px; font-weight: bold;">Monthly Birth Report For <%= @duration %></td>

    </tr>
    <tr>
      <td style="font-size: 18px; font-weight: bold;width: 250px;">Traditional Authority</td><td style="width:5px;">:</td><td><%= @ta %></td>
    </tr>
    <% if @mode == "gvh" || @mode == "vh" %>
        <tr>
          <td style="font-size: 18px; font-weight: bold;">Group Village Headman</td><td>:</td><td><%= @gvh%></td>
        </tr>
        <% if @mode == "vh" %>
            <tr>
              <td style="font-size: 18px; font-weight: bold;">Village Headman</td><td>:</td><td><%= @village%></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>

<div>
  <table style="width: 100%">

    <tr style="font-size: 23px;font-weight:bold;">
      <td style="width: 50%;">&nbsp</td><td style="text-align: center">Month Total</td><td style="text-align: center">Cumulative Total</td>
    </tr>
    <tr class="heading"><td colspan="3"> Population Birth Statistics</td></tr>
    <tr class="indicator">
      <td>Total Population</td>
      <td style="text-align: center"><%= @month_summary['count'] %></td>
      <td style="text-align: center"><%= @cumulative_summary['count'] %></td>
    </tr>
    <tr class="indicators">
      <td>Males</td>
      <td class="count" onclick="send_to(<%= @month_summary['gender_count_id']['males'].to_json %>,'Registered Males', 'gender' )">
        <%= @month_summary['gender_count']['males'] %>
      </td>
      <td class="count" onclick=" send_to(<%= @cumulative_summary['gender_count_id']['males'].to_json %>,'Registered Males', 'gender' )">
        <%= @cumulative_summary['gender_count']['males'] %>
      </td>
    </tr>
    <tr class="indicator">
      <td>Females</td>
      <td class="count" onclick="send_to(<%= @month_summary['gender_count_id']['females'].to_json %>,'Registered Females', 'gender' )">
        <%= @month_summary['gender_count']['females'] %>
      </td>
      <td class="count" onclick="send_to(<%= @cumulative_summary['gender_count_id']['females'].to_json %>,'Registered Females', 'gender' )">
        <%= @cumulative_summary['gender_count']['females'] %>
      </td>
    </tr>
    <tr class="heading">
      <td colspan="3"> &nbsp;</td></tr>
    <tr class="heading">
      <td colspan="3"> Population Survival Statistics</td></tr>
    <tr class="indicators">
      <td>Alive</td>
      <td class="count" onclick=" send_to(<%= @month_summary['outcomes_id']['Alive'].to_json %>,'People Who Registered This Month And Are Alive', 'outcomes' )">
        <%= @month_summary['outcomes']['Alive'] %>
      </td>
      <td class="count" onclick=" send_to(<%= @cumulative_summary['outcomes_id']['Alive'].to_json %>,'People Who Registered And Are Alive', 'outcomes' )">
        <%= @cumulative_summary['outcomes']['Alive'] %>
      </td>
    </tr>
    <tr class="indicator">
      <td>Dead</td>
      <td class="count" onclick="send_to(<%= @month_summary['outcomes_id']['Dead'].to_json %>,'Registered People Who Died Within A Month', 'outcomes' )">
        <%= @month_summary['outcomes']['Dead'] %>
      </td>
      <td class="count" onclick=" send_to(<%= @cumulative_summary['outcomes_id']['Dead'].to_json %>,'People Who Registered And Died', 'outcomes' )">
        <%= @cumulative_summary['outcomes']['Dead']%>
      </td>
    </tr>
    <tr class="indicators">
      <td>Transferred Out</td>
      <td class="count" onclick=" send_to(<%= @month_summary['outcomes_id']['Transferred'].to_json %>,'People Who Registered This Month And Transferred', 'outcomes' )">
        <%= @month_summary['outcomes']['Transferred'] %>
      </td>
      <td class="count" onclick=" send_to(<%= @cumulative_summary['outcomes_id']['Transferred'].to_json %>,'People Who Registered And Transferred', 'outcomes' )">
        <%= @cumulative_summary['outcomes']['Transferred'] %>
      </td>
    </tr>

  </table>
</div>